<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <h1 style="background: antiquewhite; text-align: center">Crawled Data</h1>
    <div class="content" style="background: coral; font-family: 'Source Sans Pro';margin-top: 30px">
        <h3 style="margin-bottom: 20px">Time taken to Crawl: {{crawl_speed}}</h3>
        <h3 style="margin-bottom: 20px">Website title: {{data[0]['title'][0]}}</h3>
        <h3 style="margin-bottom: 20px">Description: {{data[0]['description']}}</h3>
        <h3 style="margin-bottom: 20px">Links found on url: {{data[0]['links']}}</h3>
    </div>
    <style>
        .button {
              background-color: #4CAF50; /* Green */
              border: none;
              color: white;
              padding: 20px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
            }
        .button:hover{
            background-color: coral;
            transition: 0.5s;
        }
    </style>
    <a href="home.html" class="button">Go back</a>
</body>
</html>